/**
 *
 * Reldens - Styles
 *
 */
/**
 *
 * Reldens - Styles - Base
 *
 */
body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  user-select: none;
}

.text-black {
  color: #000;
}

.hidden {
  display: none;
}

.wrapper,
.header,
.footer,
.content {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.wrapper,
.game-container {
  height: 100%;
}

.wrapper {
  overflow: hidden;
}

.header,
.footer {
  color: #fff;
}

.header {
  position: relative;
  height: 3.5em;
  background-color: #000000;
}
.header #your-logo {
  position: relative;
  float: left;
  display: block;
  margin: 0 0 0 10px;
  padding: 0;
  max-height: 120%;
  z-index: 2000;
}
.header h1 {
  position: relative;
  float: left;
  display: block;
  margin: 0 0 0 20px;
  padding: 0;
  font-family: "Play", sans-serif;
  font-size: 1.5em;
}
.header h1 strong {
  color: #2f7dde;
  font-weight: bold;
}
@media (max-height: 390px) {
  .header h1 {
    font-size: 1em;
    padding-top: 0.2em;
  }
}
.header .full-screen-btn,
.header .instructions-btn {
  display: none;
  position: absolute;
  bottom: 0;
  background: transparent;
  border: none;
  color: #fff;
  padding: 4px;
  font-size: 11px;
}
.header .full-screen-btn {
  right: 0;
}
.header .instructions-btn {
  left: 0;
}

.footer {
  min-height: 6%;
  background-color: #37517e;
}
.footer .copyright {
  position: relative;
  display: block;
  width: 100%;
  min-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 100%;
}
.footer .copyright a, .footer .copyright a:hover, .footer .copyright a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1% 0;
}

.content {
  height: 86%;
  min-height: 300px;
  background-color: #000;
}
.content .forms-container {
  float: left;
  width: 100%;
  background-color: #fff;
  background-image: url(reldens-background.bbaa35c3.png);
  background-position: center;
  background-repeat: no-repeat;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

.game-container {
  background-color: #000;
}

.row {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.6);
}
.row.hidden {
  display: none;
}

.disclaimer {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 2%;
  background-color: rgba(255, 255, 255, 0.1);
}

.col-2 {
  float: left;
  display: block;
  position: relative;
  width: 46%;
  margin: 0;
  padding: 2%;
}

@media (max-width: 725px) {
  .col-2 {
    width: 100%;
    padding: 0;
  }

  .footer {
    display: none;
  }

  .content {
    height: 92%;
  }
}
#login_form,
#register_form,
#forgot_form {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.response-error {
  color: #ff0000;
}

h3.form-title {
  text-align: center;
  background: #f2f2f2;
  padding: 10px 0;
}

#reldens div:first-child {
  z-index: 200;
}

form .input-box {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
form .input-box.hidden {
  display: none;
}
form .input-box label {
  float: left;
  display: block;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  width: 42%;
  text-align: right;
}
form .input-box input {
  float: right;
  display: block;
  position: relative;
  border: 1px solid #ccc;
  padding: 8px;
}
form .input-box input[type=text],
form .input-box input[type=password] {
  width: 50%;
  max-width: 268px;
}

.player {
  width: 100px;
  height: 100px;
  position: absolute;
  padding-top: 24px;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

.ui-box {
  position: relative;
  z-index: 1001;
  display: block;
  margin: 0;
  padding: 0;
}

.box-target {
  display: none;
  position: relative;
  top: 150px;
  left: 10px;
}
.box-target #target-container {
  width: 100%;
}

.ui-box-scene-data,
.box-target {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.scene-label,
.box-target {
  color: #fff;
}

.ui-box-scene-data {
  top: 20px;
}

.box-player-stats {
  top: 20px;
  left: -60px;
}

.ui-box.ui-box-controls {
  position: relative;
  bottom: 100px;
  left: 120px;
}
.ui-box.ui-box-controls img {
  float: left;
  width: 54px;
  opacity: 0.8;
  cursor: pointer;
}
.ui-box.ui-box-controls img:active {
  opacity: 1;
}

.ui-box-controls .action-buttons, .ui-box-controls .vertical-buttons {
  float: left;
  width: 54px;
  text-align: center;
  top: 0;
  position: relative;
}
.ui-box-controls .action-buttons img, .ui-box-controls .vertical-buttons img {
  float: none;
}
.ui-box-controls .action-buttons {
  width: auto;
}
.ui-box-controls .action-buttons img {
  margin-left: 10px;
}
.ui-box-controls #left, .ui-box-controls #right {
  position: relative;
  top: 30px;
}

.button-opacity-off {
  opacity: 1 !important;
}

.ui-box-player {
  float: left;
  top: 34px;
  left: 48px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.ui-box-npc-dialog {
  display: none;
  float: left;
  width: 240px;
  min-height: 150px;
  padding: 10px 14px;
  background: #000000;
  opacity: 0.85;
  color: #fff;
  word-wrap: break-word;
  font-size: 12px;
}

.box-close,
.close-target {
  width: 24px;
  position: absolute;
  right: -12px;
  top: -12px;
  cursor: pointer;
}

.box-content {
  min-height: 40px;
  max-height: 120px;
  overflow: auto;
  margin: 10px 0;
}

.box-options-container {
  display: block;
}

.player-name {
  padding: 0 0 10px;
  text-align: center;
  color: #fff;
}

span.stat-label {
  float: left;
  width: 48%;
  margin-right: 2%;
  display: block;
  text-align: right;
  color: #00ffff;
}

span.stat-value {
  float: left;
  width: 50%;
  display: block;
  text-align: left;
}

.loading-container {
  float: left;
  text-align: center;
  width: 100%;
}

#player-stats-open {
  cursor: pointer;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 40px;
  top: 20px;
  right: 60px;
}

.ui-box-button-option {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.player-stats-ui {
  min-width: 100px;
  top: 64px;
  right: calc(100% + 72px);
  font-size: 14px;
  display: none;
  float: left;
  position: relative;
  min-height: 100px;
  padding: 10px;
  background: #000000;
  opacity: 0.8;
  color: #fff;
}

#player-stats-container {
  position: relative;
  width: 150px;
  word-wrap: break-word;
  overflow: auto;
  font-size: 12px;
}

#forgot_reset {
  margin: 0 auto;
  max-width: 720px;
}

#ui-player-extras {
  color: #fff;
  margin: 10px 0;
}

#player-selection {
  background: #fff;
  max-width: 500px;
  margin: 40px auto 0;
}
#player-selection .selection-forms-container {
  margin: 0 auto;
  display: block;
  width: 88%;
  background: #fff;
  float: left;
  padding: 6%;
}
#player-selection .selection-forms-container form {
  float: left;
  width: 100%;
  display: block;
}
#player-selection .selection-forms-container form.hidden {
  display: none;
}
#player-selection .selection-forms-container form .select-element {
  display: block;
  position: relative;
  float: none;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
#player-selection .selection-forms-container form .scene-select {
  width: 54%;
  max-width: 268px;
  float: right;
  padding: 8px 1%;
  margin: 0;
  text-align: left;
}
#player-selection .selection-forms-container form .player_creation_additional_info {
  display: block;
  float: left;
  width: 100%;
}
#player-selection .selection-forms-container form .center-submit {
  float: none;
  margin: 0 auto;
}

#game-over {
  z-index: 2000;
  position: absolute;
  left: 0;
  overflow: visible;
  width: 92%;
  height: 90%;
  padding: 10% 4% 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: default;
}
#game-over .game-over-content {
  display: block;
  float: left;
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
#game-over .game-over-content h3 {
  text-align: center;
}

#instructions-open {
  cursor: pointer;
  position: absolute;
  top: -120px;
  left: -60px;
  max-width: 48px;
  max-height: 48px;
}

#instructions {
  z-index: 2000;
  position: absolute;
  top: 20%;
  overflow: visible;
  max-height: 280px;
  width: 46%;
  padding: 2% 4%;
  margin: 0;
  left: 25%;
  right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: default;
}
#instructions .instructions-content {
  display: block;
  float: left;
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
#instructions .instructions-content h3 {
  text-align: center;
}
#instructions .instructions-content ul {
  padding: 0 0 0 6%;
}

#settings-open {
  cursor: pointer;
  position: absolute;
  top: -190px;
  left: -60px;
  max-width: 48px;
  max-height: 48px;
}

#settings-ui {
  z-index: 2000;
  position: absolute;
  top: 20%;
  overflow: visible;
  max-height: 280px;
  width: 46%;
  padding: 2% 4%;
  margin: 0;
  left: 25%;
  right: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: default;
}
#settings-ui .settings-content {
  display: block;
  float: left;
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
}
#settings-ui .settings-content .settings-row {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
#settings-ui .settings-content .settings-row .col-1 {
  text-align: right;
}
#settings-ui .settings-content .settings-row .col-1,
#settings-ui .settings-content .settings-row .col-2 {
  position: relative;
  float: left;
  display: block;
  width: 48%;
  margin: 0 2% 0 0;
  padding: 0;
}
#settings-ui .settings-content .settings-row h3 {
  text-align: center;
}
#settings-ui #settings-dynamic .settings-row:first-child h3:first-child {
  margin-top: 0;
}

#minimap-open {
  cursor: pointer;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 40px;
  top: 0;
  left: 0;
}

.minimap-ui {
  position: relative;
  top: 26px;
  left: 26px;
  display: none;
  float: left;
  background: transparent;
}

#class-path-select {
  width: 54%;
  max-width: 268px;
  float: right;
  display: block;
  position: relative;
  border: 1px solid #ccc;
  padding: 8px 1%;
  margin: 0;
}

.player_selection_additional_info,
.avatar-container {
  display: block;
  float: left;
  width: 100%;
}

.class-path-container,
.level-container,
.experience-container {
  display: block;
  width: 100%;
  margin: 6px auto 0;
}

.level-container,
.experience-container {
  font-size: 11px;
}

.experience-container div {
  float: left;
  margin: 0 8px 0 0;
}
.experience-container .current-experience::after {
  content: "/";
  margin: 0 4px;
}

.ui-skills-controls.ui-box-controls {
  bottom: 60px;
  left: 202px;
}

/**
 *
 * Reldens - Styles - Firebase
 *
 */
#firebaseui-auth-container {
  display: block;
  max-width: 400px;
  margin: 10px auto;
  padding: 6px 0;
  background: #f2f2f2;
}

.firebase-container {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

#firebase_login {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

/**
 *
 * Reldens - Styles - Chat
 *
 */
.chat-ui {
  display: none;
  float: left;
  position: relative;
  top: -150px;
  left: -290px;
  padding: 15px;
  min-width: 100px;
  min-height: 80px;
  background: #000000;
  opacity: 0.8;
  color: #fff;
}

#chat-messages {
  width: 242px;
  height: 90px;
  word-wrap: break-word;
  overflow: auto;
  font-size: 12px;
}

#chat-input {
  width: 80%;
}

#chat-send {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#chat-open {
  cursor: pointer;
  position: absolute;
  top: -60px;
  left: -60px;
}

#notification-balloon {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 5px;
  line-height: 15px;
  height: 15px;
  width: 15px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  display: none;
  text-align: center;
  font-size: 14px;
}

/**
 *
 * Reldens - Styles - Items System
 *
 */
#inventory-open,
#equipment-open {
  cursor: pointer;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 40px;
}

#inventory-open {
  top: 90px;
  right: 60px;
}

#equipment-open {
  top: 160px;
  right: 60px;
}

#inventory-items,
#equipment-items {
  position: relative;
  word-wrap: break-word;
  overflow: auto;
  font-size: 12px;
}

#inventory-items {
  width: 268px;
  height: 200px;
}

#equipment-items {
  width: 268px;
  height: 225px;
}

.inventory-ui,
.equipment-ui {
  display: none;
  float: left;
  position: relative;
  min-height: 100px;
  padding: 10px;
  background: #000000;
  opacity: 0.8;
  color: #fff;
}

.inventory-ui {
  min-width: 160px;
  top: 80px;
  right: 360px;
}

.equipment-ui {
  min-width: 160px;
  top: 100px;
  right: 360px;
}

@media (max-height: 400px) {
  .equipment-ui {
    top: 80px;
  }
}
.item-box,
.group-item-block {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 6px;
}

.item-box .item-data-container {
  display: none;
  position: absolute;
  top: 54px;
  left: 16%;
  z-index: 2;
  width: 64%;
  text-align: center;
  background: #000;
  padding: 4px;
  color: #fff;
  border: 1px solid #fff;
  font-style: italic;
}
.item-box .item-qty,
.item-box .image-container {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.item-box .actions-container {
  display: block;
  width: 100%;
  position: relative;
}
.item-box .actions-container .item-action-block {
  position: relative;
  float: left;
  max-width: 32px;
  margin: 5px 5px 0;
}
.item-box .actions-container .item-action-block img {
  max-width: 32px;
  cursor: pointer;
}
.item-box .trash-confirm {
  display: none;
  min-width: 96px;
}
.item-box .trash-confirm span {
  cursor: pointer;
  padding: 5px;
  border: 1px solid;
  margin: 5px;
  display: inline-block;
}

.item-box:nth-child(4n) .item-data-container,
.item-box:nth-child(5n) .item-data-container {
  right: 50px;
  left: auto;
}

.item-label,
.item-description {
  display: block;
}

.group-item-block {
  position: relative;
}
.group-item-block .equip-group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  border: 1px solid #fff;
}
.group-item-block .equipped-item {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.group-item-block .image-container img {
  min-width: 50px;
}
.group-item-block .item-qty,
.group-item-block .item-data-container .item-description,
.group-item-block .item-data-container .item-trash {
  display: none;
}
.group-item-block .item-data-container {
  min-width: 50px;
}
.group-item-block .item-data-container .actions-container .item-action-block {
  float: none;
  margin: 5px auto;
}

#group-item-weapon,
#group-item-shield,
#group-item-armor,
#group-item-gauntlets {
  display: block;
  width: 50%;
}

#group-item-helmet,
#group-item-boots {
  display: block;
  width: 100%;
}
#group-item-helmet .equip-group-icon,
#group-item-boots .equip-group-icon {
  max-width: 50px;
  left: 40%;
}
#group-item-helmet .equipped-item,
#group-item-boots .equipped-item {
  display: block;
  margin: 0 auto;
  max-width: 50px;
  min-height: 50px;
}

#group-item-weapon .equip-group-icon,
#group-item-armor .equip-group-icon {
  max-width: 50px;
  right: 20px;
  left: auto;
}
#group-item-weapon .equipped-item,
#group-item-armor .equipped-item {
  position: absolute;
  right: 20px;
  left: auto;
}

#group-item-shield .equip-group-icon,
#group-item-gauntlets .equip-group-icon {
  max-width: 50px;
  right: auto;
  left: 20px;
}
#group-item-shield .equipped-item,
#group-item-gauntlets .equipped-item {
  position: absolute;
  right: auto;
  left: 20px;
}