body {
  -webkit-user-select: none;
  user-select: none;
  background-color: #0000;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

.text-black {
  color: #000;
}

.hidden {
  display: none;
}

.wrapper, .header, .footer, .content {
  float: left;
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.wrapper, .game-container {
  height: 100%;
}

.wrapper {
  z-index: 10000;
  overflow: hidden;
}

.game-engine-started {
  overflow: hidden;
}

.game-engine-started .footer {
  display: none;
}

.game-engine-started .content {
  height: 94%;
}

.game-engine-started.full-screen-on .header {
  display: none;
}

.game-engine-started.full-screen-on .content {
  height: 100%;
}

.game-started .wrapper {
  background: #000;
}

.game-started .loading-container {
  display: none;
}

.game-started .full-screen-btn {
  display: block;
}

.game-error .wrapper .loading-container {
  display: none;
}

.header, .footer {
  color: #fff;
}

.header {
  height: 3.5em;
  background-color: #000;
  position: relative;
}

.header #your-logo {
  float: left;
  max-height: 120%;
  z-index: 2000;
  margin: 0 0 0 10px;
  padding: 0;
  display: block;
  position: relative;
}

.header h1 {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  font-family: Play, sans-serif;
  font-size: 1.5em;
  display: block;
  position: relative;
}

.header h1 strong {
  color: #2f7dde;
  font-weight: bold;
}

@media (max-height: 390px) {
  .header h1 {
    padding-top: .2em;
    font-size: 1em;
  }
}

.header .full-screen-btn, .header .instructions-btn {
  color: #fff;
  background: none;
  border: none;
  padding: 4px;
  font-size: 11px;
  display: none;
  position: absolute;
  bottom: 0;
}

.header .full-screen-btn {
  right: 0;
}

.header .instructions-btn {
  left: 0;
}

.footer {
  min-height: 6%;
  background-color: #37517e;
}

.footer .copyright {
  width: 100%;
  min-height: 20px;
  text-align: center;
  max-height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.footer .copyright a, .footer .copyright a:hover, .footer .copyright a:visited {
  color: #fff;
  padding: 1% 0;
  text-decoration: none;
  display: block;
}

.content {
  min-height: 300px;
  background-color: #000;
}

.content .forms-container {
  float: left;
  width: 100%;
  background-color: #fff;
  background-image: url("reldens-background.c7af3152.png");
  background-position: center;
  background-repeat: no-repeat;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

.game-container {
  background-color: #000;
}

.row {
  float: left;
  width: 100%;
  background-color: #fffc;
  border: 1px solid #ccc;
  margin: 0 0 10px;
  padding: 0;
  display: block;
  position: relative;
  box-shadow: 10px 10px 14px 2px #0009;
}

.row.hidden {
  display: none;
}

.disclaimer {
  text-align: center;
  max-width: 80%;
  background-color: #ffffff1a;
  margin: 0 auto;
  padding: 10px 2%;
}

.col-2 {
  float: left;
  width: 46%;
  margin: 0;
  padding: 2%;
  display: block;
  position: relative;
}

@media (max-width: 725px) {
  .col-2 {
    width: 100%;
    padding: 0;
  }

  .footer {
    display: none;
  }

  .content {
    height: 92%;
  }
}

#login-form, #register-form, #forgot-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

.response-error {
  color: red;
}

h3.form-title {
  text-align: center;
  background: #f2f2f2;
  padding: 10px 0;
}

#reldens div:first-child {
  z-index: 200;
}

form .input-box {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  display: block;
  position: relative;
}

form .input-box.hidden {
  display: none;
}

form .input-box label {
  float: left;
  width: 42%;
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
  display: block;
  position: relative;
}

form .input-box input {
  float: right;
  border: 1px solid #ccc;
  padding: 8px;
  display: block;
  position: relative;
}

form .input-box input[type="text"], form .input-box input[type="password"] {
  width: 50%;
  max-width: 268px;
}

.player {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding-top: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.ui-box {
  z-index: 1001;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.box-target {
  display: none;
  position: relative;
  top: 170px;
  left: 10px;
}

.box-target #target-container {
  width: 100%;
}

.ui-box-scene-data, .box-target {
  background-color: #00000080;
  padding: 10px;
}

.scene-label, .box-target {
  color: #fff;
}

.ui-box-scene-data {
  top: 20px;
}

.box-player-stats {
  top: 20px;
  left: -60px;
}

.ui-box.ui-box-controls {
  position: relative;
  bottom: 100px;
  left: 120px;
}

.ui-box.ui-box-controls img {
  float: left;
  width: 54px;
  opacity: .8;
  cursor: pointer;
}

.ui-box.ui-box-controls img:active {
  opacity: 1;
}

.ui-box-controls .action-buttons, .ui-box-controls .vertical-buttons {
  float: left;
  width: 54px;
  text-align: center;
  position: relative;
  top: 0;
}

.ui-box-controls .action-buttons img, .ui-box-controls .vertical-buttons img {
  float: none;
}

.ui-box-controls .action-buttons {
  width: auto;
}

.ui-box-controls .action-buttons img {
  margin-left: 10px;
}

.ui-box-controls #left, .ui-box-controls #right {
  position: relative;
  top: 30px;
}

.button-opacity-off {
  opacity: 1 !important;
}

.ui-box-player {
  float: left;
  text-align: left;
  background-color: #00000080;
  padding: 10px;
  top: 34px;
  left: 48px;
}

.ui-dialog-box {
  float: left;
  width: 240px;
  min-height: 150px;
  opacity: .85;
  color: #fff;
  word-wrap: break-word;
  background: #000;
  padding: 10px 14px;
  font-size: 12px;
  display: none;
}

.box-close, .close-target {
  width: 24px;
  cursor: pointer;
  position: absolute;
  top: -12px;
  right: -12px;
}

.box-open {
  cursor: pointer;
}

.box-content {
  min-height: 40px;
  max-height: 120px;
  margin: 10px 0;
  overflow: auto;
}

.box-options-container {
  display: block;
}

.player-name {
  text-align: center;
  color: #fff;
  padding: 0 0 10px;
}

span.stat-label {
  float: left;
  width: 48%;
  text-align: right;
  color: #0ff;
  margin-right: 2%;
  display: block;
}

span.stat-value {
  float: left;
  width: 50%;
  text-align: left;
  display: block;
}

.loading-container {
  float: left;
  text-align: center;
  width: 100%;
}

#player-stats-open {
  cursor: pointer;
  max-width: 40px;
  background: #00000080;
  padding: 10px;
  position: relative;
  top: 20px;
  right: 60px;
}

.ui-box-button-option {
  cursor: pointer;
  margin: 10px;
  display: inline-block;
}

.player-stats-ui {
  min-width: 100px;
  float: left;
  min-height: 100px;
  opacity: .8;
  color: #fff;
  background: #000;
  padding: 10px;
  font-size: 14px;
  display: none;
  position: relative;
  top: 64px;
  right: calc(100% + 72px);
}

#player-stats-container {
  width: 150px;
  word-wrap: break-word;
  font-size: 12px;
  position: relative;
  overflow: auto;
}

#forgot_reset {
  max-width: 720px;
  margin: 0 auto;
}

#ui-player-extras {
  color: #fff;
  margin: 10px 0;
}

#player-selection {
  max-width: 500px;
  background: #fff;
  margin: 40px auto 0;
}

#player-selection .selection-forms-container {
  width: 88%;
  float: left;
  background: #fff;
  margin: 0 auto;
  padding: 6%;
  display: block;
}

#player-selection .selection-forms-container form {
  float: left;
  width: 100%;
  display: block;
}

#player-selection .selection-forms-container form.hidden {
  display: none;
}

#player-selection .selection-forms-container form .select-element {
  float: none;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 8px;
  display: block;
  position: relative;
}

#player-selection .selection-forms-container form .scene-select {
  width: 54%;
  max-width: 268px;
  float: right;
  text-align: left;
  margin: 0;
  padding: 8px 1%;
}

#player-selection .selection-forms-container form .player-creation-additional-info {
  float: left;
  width: 100%;
  display: block;
}

#player-selection .selection-forms-container form .class-path-select-avatar {
  background-position: 0 0;
  margin: 10px auto;
  display: block;
}

#player-selection .selection-forms-container form .center-submit {
  float: none;
  margin: 0 auto;
}

#game-over {
  z-index: 2000;
  width: 92%;
  height: 90%;
  color: #fff;
  cursor: default;
  background-color: #000000b3;
  margin: 0;
  padding: 10% 4% 0;
  position: absolute;
  left: 0;
  overflow: visible;
}

#game-over .game-over-content {
  float: left;
  width: 100%;
  height: 280px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

#game-over .game-over-content h3 {
  text-align: center;
}

#instructions-open {
  cursor: pointer;
  max-width: 48px;
  max-height: 48px;
  position: absolute;
  top: -120px;
  left: -60px;
}

#instructions {
  z-index: 2000;
  max-height: 280px;
  width: 46%;
  color: #fff;
  cursor: default;
  background-color: #000000b3;
  margin: 0;
  padding: 2% 4%;
  position: absolute;
  top: 20%;
  left: 25%;
  right: auto;
  overflow: visible;
}

#instructions .instructions-content {
  float: left;
  width: 100%;
  height: 280px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

#instructions .instructions-content h3 {
  text-align: center;
}

#instructions .instructions-content ul {
  padding: 0 0 0 6%;
}

#settings-open {
  cursor: pointer;
  max-width: 48px;
  max-height: 48px;
  position: absolute;
  top: -190px;
  left: -60px;
}

#settings-ui {
  z-index: 2000;
  max-height: 280px;
  width: 46%;
  color: #fff;
  cursor: default;
  background-color: #000000b3;
  margin: 0;
  padding: 2% 4%;
  position: absolute;
  top: 20%;
  left: 25%;
  right: auto;
  overflow: visible;
}

#settings-ui .settings-content {
  float: left;
  width: 100%;
  height: 280px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

#settings-ui .settings-content .settings-container {
  float: left;
  width: 100%;
  margin-top: 20px;
  display: block;
}

#settings-ui .settings-content .settings-container:first-child {
  margin-top: 0;
}

#settings-ui .settings-content .settings-row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#settings-ui .settings-content .settings-row .col-1 {
  text-align: right;
}

#settings-ui .settings-content .settings-row .col-1, #settings-ui .settings-content .settings-row .col-2 {
  float: left;
  width: 48%;
  margin: 0 2% 0 0;
  padding: 0;
  display: block;
  position: relative;
}

#settings-ui .settings-content .settings-row h3 {
  text-align: center;
}

#settings-ui #settings-dynamic .settings-row:first-child h3:first-child {
  margin-top: 0;
}

#minimap-open {
  cursor: pointer;
  max-width: 40px;
  background: #00000080;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.minimap-ui {
  float: left;
  background: none;
  display: none;
  position: relative;
  top: 26px;
  left: 26px;
}

#class-path-select {
  width: 54%;
  max-width: 268px;
  float: right;
  border: 1px solid #ccc;
  margin: 0;
  padding: 8px 1%;
  display: block;
  position: relative;
}

.player-selection-additional-info, .avatar-container {
  float: left;
  width: 100%;
  display: block;
}

.class-path-container, .level-container, .experience-container {
  width: 100%;
  margin: 6px auto 0;
  display: block;
}

.level-container, .experience-container {
  font-size: 11px;
}

.experience-container div {
  float: left;
  margin: 0 8px 0 0;
}

.experience-container .current-experience:after {
  content: "/";
  margin: 0 4px;
}

.ui-skills-controls.ui-box-controls {
  bottom: 60px;
  left: 202px;
}

#firebaseui-auth-container {
  max-width: 400px;
  background: #f2f2f2;
  margin: 10px auto;
  padding: 6px 0;
  display: block;
}

.firebase-container {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.firebase-container.hidden {
  display: none;
}

#firebase-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}

.chat-ui {
  float: left;
  min-width: 300px;
  min-height: 200px;
  opacity: .8;
  color: #fff;
  background: #000;
  padding: 15px;
  position: relative;
  top: -270px;
  left: -426px;
}

#chat-contents {
  height: 100%;
  width: 100%;
  font-size: 12px;
  display: block;
}

#chat-contents .tabs-container {
  height: 100%;
  display: block;
  position: relative;
}

#chat-contents .tabs-headers {
  height: 20%;
  width: 100%;
  min-height: 26px;
  display: block;
  position: relative;
}

#chat-contents .tabs-headers .tab-label {
  cursor: pointer;
  border-right: 1px solid #fff;
  padding-right: 6px;
  display: inline-block;
}

#chat-contents .tabs-headers .tab-label.active {
  font-weight: bold;
}

#chat-contents .tabs-headers .tab-label:last-child {
  border-right: none;
}

#chat-contents .tabs-contents {
  height: 60%;
  max-height: 150px;
  display: block;
  overflow-y: auto;
}

#chat-contents .tabs-contents .tab-content {
  overflow-y: auto;
}

#chat-contents .tabs-contents .tab-content:first-child {
  display: block;
}

#chat-contents .tabs-contents .tab-content.hidden {
  display: none;
}

#chat-messages {
  width: 92%;
  height: 72%;
  word-wrap: break-word;
  padding: 2%;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

#chat-input {
  width: 70%;
  outline: none;
  position: absolute;
  bottom: 15px;
}

#chat-send {
  width: 16%;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#chat-open {
  cursor: pointer;
  position: absolute;
  top: -60px;
  left: -60px;
}

#notification-balloon {
  height: 15px;
  width: 15px;
  color: #fff;
  text-align: center;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
  line-height: 15px;
  position: absolute;
  top: -10px;
  left: -10px;
}

#inventory-open, #equipment-open {
  cursor: pointer;
  max-width: 40px;
  background: #00000080;
  padding: 10px;
  position: relative;
}

#inventory-open {
  top: 90px;
  right: 60px;
}

#equipment-open {
  top: 160px;
  right: 60px;
}

#inventory-items, #equipment-items {
  word-wrap: break-word;
  font-size: 12px;
  position: relative;
  overflow: auto;
}

#inventory-items {
  width: 268px;
  height: 200px;
}

#equipment-items {
  width: 268px;
  height: 225px;
}

.inventory-ui, .equipment-ui {
  float: left;
  min-height: 100px;
  opacity: .8;
  color: #fff;
  background: #000;
  padding: 10px;
  display: none;
  position: relative;
}

.inventory-ui {
  min-width: 160px;
  top: 80px;
  right: 360px;
}

.equipment-ui {
  min-width: 160px;
  top: 100px;
  right: 360px;
}

@media (max-height: 400px) {
  .equipment-ui {
    top: 80px;
  }
}

.item-box, .group-item-block {
  float: left;
  width: 50px;
  height: 50px;
  margin-bottom: 6px;
  display: block;
}

.item-box .item-data-container {
  z-index: 2;
  width: 64%;
  text-align: center;
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  padding: 4px;
  font-style: italic;
  display: none;
  position: absolute;
  top: 54px;
  left: 16%;
}

.item-box .item-qty, .item-box .image-container {
  float: left;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: block;
}

.item-box .actions-container {
  width: 100%;
  display: block;
  position: relative;
}

.item-box .actions-container .item-action-block {
  float: left;
  max-width: 32px;
  margin: 5px 5px 0;
  position: relative;
}

.item-box .actions-container .item-action-block img {
  max-width: 32px;
  cursor: pointer;
}

.item-box .trash-confirm {
  min-width: 96px;
  display: none;
}

.item-box .trash-confirm span {
  cursor: pointer;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.item-box:nth-child(4n) .item-data-container, .item-box:nth-child(5n) .item-data-container {
  left: auto;
  right: 50px;
}

.item-label, .item-description {
  display: block;
}

.group-item-block {
  position: relative;
}

.group-item-block .equip-group-icon {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: .2;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.group-item-block .equipped-item {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
}

.group-item-block .image-container img {
  min-width: 50px;
}

.group-item-block .item-qty, .group-item-block .item-data-container .item-description, .group-item-block .item-data-container .item-trash {
  display: none;
}

.group-item-block .item-data-container {
  min-width: 50px;
}

.group-item-block .item-data-container .actions-container .item-action-block {
  float: none;
  margin: 5px auto;
}

#group-item-weapon, #group-item-shield, #group-item-armor, #group-item-gauntlets {
  width: 50%;
  display: block;
}

#group-item-helmet, #group-item-boots {
  width: 100%;
  display: block;
}

#group-item-helmet .equip-group-icon, #group-item-boots .equip-group-icon {
  max-width: 50px;
  left: 40%;
}

#group-item-helmet .equipped-item, #group-item-boots .equipped-item {
  max-width: 50px;
  min-height: 50px;
  margin: 0 auto;
  display: block;
}

#group-item-weapon .equip-group-icon, #group-item-armor .equip-group-icon {
  max-width: 50px;
  left: auto;
  right: 20px;
}

#group-item-weapon .equipped-item, #group-item-armor .equipped-item {
  position: absolute;
  left: auto;
  right: 20px;
}

#group-item-shield .equip-group-icon, #group-item-gauntlets .equip-group-icon {
  max-width: 50px;
  left: 20px;
  right: auto;
}

#group-item-shield .equipped-item, #group-item-gauntlets .equipped-item {
  position: absolute;
  left: 20px;
  right: auto;
}

.ui-dialog-box.type-trader {
  min-height: 200px;
}

.ui-dialog-box.type-trader .box-content {
  min-height: 164px;
}

.trade-container .player-confirmed {
  float: right;
  color: #2f7dde;
  font-weight: bold;
}

.trade-container .trade-row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}

.trade-container .trade-row.trade-items-boxes .trade-col, .trade-container .trade-row.trade-items-boxes .trade-player-col {
  min-height: 138px;
}

.trade-container .trade-confirm-actions {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.trade-container .confirm-action, .trade-container .disconfirm-action, .trade-container .cancel-action {
  float: right;
  min-height: 25px;
  margin-left: 15px;
}

.trade-container .trade-col {
  float: left;
  width: 46%;
  min-width: 100px;
  min-height: 25px;
  margin: 0;
  padding: 0 1%;
  display: block;
  position: relative;
}

.trade-container .trade-items-boxes .trade-col-1 {
  border-right: 1px solid #fff;
}

.ui-dialog-box.type-trade {
  width: 88%;
  min-width: 210px;
  min-height: 200px;
}

.ui-dialog-box.type-trade .box-content {
  min-height: 164px;
  max-height: 100%;
}

.ui-dialog-box.type-trade .trade-player-col {
  width: 32%;
  float: left;
  display: block;
  position: relative;
}

.trade-item {
  height: auto;
  display: block;
  position: relative;
}

.trade-item.hidden {
  display: none;
}

.trade-item .trade-action-remove img {
  max-width: 24px;
  cursor: pointer;
}

.trade-item input, .trade-item button {
  width: 100%;
  float: none;
  max-width: 100%;
  text-align: center;
  border: 0;
  margin: 6px auto 2px;
  padding: 4px 0;
  display: block;
  position: relative;
}

.trade-item .requirement-key img, .trade-item .reward-key img {
  max-width: 16px;
}

.teams-dialog-box {
  min-width: 160px;
  top: 200px;
  right: 360px;
}

.clan-dialog-box {
  float: left;
  min-width: 160px;
  min-height: 100px;
  position: relative;
  top: 250px;
  right: 360px;
}

.clan-dialog-box .clan-row {
  float: left;
  width: 100%;
  margin-top: 10px;
  display: block;
}

.clan-dialog-box .clan-name-input {
  outline: none;
}

.clan-dialog-box .default-loading-container img {
  max-width: 48px;
}

@media (max-height: 400px) {
  .teams-dialog-box {
    top: 50px;
  }

  .clan-dialog-box {
    top: 80px;
  }
}

.clan-open {
  max-width: 40px;
  background: #00000080;
  padding: 10px;
  position: relative;
  top: 230px;
  right: 60px;
}

.teams-open {
  max-width: 40px;
  background: #00000080;
  padding: 10px;
  position: relative;
  top: 300px;
  right: 60px;
}

.team-player, .property-box, .properties-list-container {
  width: 100%;
  float: left;
  margin: 0 0 5px;
  padding: 0;
  display: block;
  position: relative;
}

.player-name {
  float: left;
  width: 90%;
  text-align: left;
  cursor: pointer;
  display: block;
}

.properties-list-container {
  cursor: pointer;
}

.team-remove-container {
  float: left;
  width: 10%;
  display: block;
}

.team-remove-container .team-remove-button {
  max-width: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.property-box {
  float: left;
  margin: 0;
  padding: 0;
}

.property-box div {
  float: left;
}

.property-box .label {
  margin-right: 10px;
}

.property-box .value {
  margin-right: 6px;
}

.team-leave-action {
  float: right;
}

.clan-member {
  min-height: 24px;
  vertical-align: middle;
  line-height: 24px;
}

.clan-member .member-name {
  float: left;
}

.clan-member .clan-remove-container {
  float: right;
  cursor: pointer;
}

.clan-member .clan-remove-container img {
  max-width: 24px;
  position: relative;
  top: 0;
}

#terms-and-conditions {
  z-index: 2000;
  width: 46%;
  color: #fff;
  cursor: default;
  background-color: #000000b3;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 25%;
  right: auto;
  overflow: visible;
}

#terms-and-conditions .scrollable {
  max-height: 280px;
  padding: 2% 4%;
}

#terms-and-conditions .terms-and-conditions-text {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

#terms-and-conditions .terms-and-conditions-text h3 {
  text-align: center;
}

#terms-and-conditions .terms-and-conditions-text .terms-body {
  width: 92%;
  padding: 2% 4%;
  overflow-y: auto;
}

.terms-and-conditions-link-container.hidden {
  display: none;
}

.terms-and-conditions-link {
  float: right;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
}

.terms-box {
  margin: 2%;
  padding: 2%;
  display: block;
}

.ads-banner-container {
  display: block;
}

.ads-banner-container.hidden {
  display: none;
}

#sdk__advertisement {
  z-index: 10001 !important;
}

